@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Urbanist", sans-serif;
}
html {
  scroll-behavior: smooth;
  /* scroll-padding-top: 120px; */
}
.home-select .ant-select-selector{
  background-color: #f2f5fa27 !important;
  color: #fff !important;
}
.home-select .ant-select-selection-item{
  color: #fff !important;
}
.ant-select-selector {
  background-color: #F2F5FA !important;
}
.ant-select-selection-item {
  color: #1A1A1A !important;
}

.react-international-phone-country-selector button {
  background-color: transparent;
  border: none;
}
.react-international-phone-input {
  background-color: transparent !important;
  border: none !important;
  font-size: 17px !important; 
  font-weight: 400 !important;
}
.footer-showcase {
  background-image: url(/images/footer-showcase.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-blog-1 {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/blog/blog-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-blog-2 {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/services/service-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-blog-3 {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/services/service-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-blog-4 {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/services/services-41.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-blog-5 {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/services/service-5.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.text-primary {
  color: #1a1a1a;
}
.text-primary-inverse {
  color: #1a1a1a;
}
.text-secondary {
  color: #798697;
}
.text-third {
  color: #3e8ef4;
}
.bg-primary {
  background-color: #3e8ef4;
}
.bg-primary:hover {
  background-color: #3e8ef4cc;
}
.bg-secondary {
  background-color: #f7f9fc;
}
.bg-main {
  background-color: #ffffff;
}
.border-main {
  border-color: #e5e7eb;
}
.bg-success {
  border-color: #16a34a;
}
.bg-warning {
  border-color: #facc15;
}
.bg-error {
  border-color: #ef4444;
}
.bg-info {
  border-color: #17a2b8;
}
.font-regular {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.caption {
  font-weight: 400;
  line-height: 140%;
  color: #212529;
  font-size: 12px;
}
.link {
  font-weight: 500;
  line-height: 140%;
  color: #212529;
  font-size: 18px;
}

.hero {
  background-image: url(/images/bg-main.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* typogrophy */
.header1 {
  font-size: 56px;
  font-weight: 600;
  line-height: 120%;
}
.header2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
}
.header3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 120%;
}
.header4 {
  font-size: 28px;
  font-weight: 600;
  line-height: 130%;
}
.header5 {
  font-size: 22px;
  font-weight: 500;
  line-height: 130%;
}
.header6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}

/* paragraph */
.paragraph-lg {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}
.paragraph-md {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.paragraph-sm {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

/* caption */
.caption-meta {
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
}
/* caption */
.button-style {
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
}

@media (max-width: 600px) {
  /* typogrophy */
  .header1 {
    font-size: 38px;
    font-weight: 600;
    line-height: 120%;
  }
  .header2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
  }
  .header3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 120%;
  }
  .header4 {
    font-size: 23px;
    font-weight: 600;
    line-height: 130%;
  }

  /* paragraph */
  .paragraph-lg {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }
  .paragraph-md {
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
  }
}
